
*{
	margin:0%;
	padding: 0%;
}
.wrapper{
	width: 80%;
	margin:0px auto;
	height: auto;
	border:1px solid;
	padding: 10px;
	background:#33FF66;
}
.header{
	width: 100%;
	height: 150px;
	border:1px solid;
	margin-bottom: 10px;
	text-align: left;
	font-size:;
	background:#009900;
	color:white;
	line-height: 50px;
}
.cari{
	width: 100%;
	height: 100px;
	border:1px solid;
	margin-bottom: 10px;
	background:#00CC66;
}
.menu{
	width: 100%;
	height: 40px;
	border:1px solid;
	background:#00FF00;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}
.menu ul li{
	list-style: none;
	width: 100px;
	height: 40px;
	border:1px solid;
	float: left;
	text-align: center;
	line-height: 40px;
	color:;
}
.nama{
	width: 120px;
	float: right;
	margin: 1%;
	margin-right: 130px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.content{
	height: auto;
	width: auto;
	border:1px solid;
}
.footer{
	border:1px solid;
	height: 100px;
	width: auto;
}
.gambar1{
float: left;
height:100px;
width:150px;

}
input{
	height: 20px;
	margin-top: 10px;
}
textarea{
	margin-top: 10px;
}
.b table{
	margin-left: 20px;
}
.krm{
	height: 50px;

}
input [submit]{
	height: 50px;
}
.a table{
	background-color: white;
	border:1px solid #0088ff; border-collapse: collapse; box-shadow: 0px 2px 5px silver; 
}
.a table thead{
	background: #0088ff; color: white; border-bottom: 4px solid #006fd0;
}
.a table th, td{
	padding: 20px;
}
.a table tr:nth-child(2n){
    background-color: #ededed;
}
.a a:hover{
   color: white;
}
.menu ul ul {
	background-color:#00FF00; 
	transition: all 0.3s;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	top: 230px;
	left: 17%;

}
.menu ul ul li{
	align-items: bottom;

}
.menu ul li:hover > ul{
	opacity: 1;
	visibility: visible;
}